body {
    margin: 0;
    padding: 0;
  }

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: #C4C4C4;
    margin: 20px;
    padding: 20px;
}

h2 {
   text-align: center;
   font-family: 'Raleway', sans-serif;
   background-color: #C4C4C4;
   margin: 20px;
   padding: 20px;
}

p, li{
  text-align: left;
  font-family: 'Raleway', sans-serif;
  /* background-color: #C4C4C4; */
  /* opacity: 0.75; */
  margin: 30px 20px;
  padding: 25px;
}


@media only screen and (max-width: 2000px) {

 .pg3-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 9fr 1fr;
    grid-template-rows: auto;
    height: 100vh;
    width: 100vw;
 }

 .left1 {
   background: #79BBB5;
   grid-column: 1;
   grid-row: 1;
 }

 .left1-background {
    background: #79BBB5;
    text-decoration: none;
 }

 .v0 {
    transform: rotate(90deg);
    margin: 50px 20px 20px 20px;
    padding: 20px;
}

 .l2 {
    background: #A885A8;
    grid-column: 2;
    grid-row: 1;
 }

 .l2-background {
     background: #A885A8;
     text-decoration: none;
 }

 .thefeature {
    background: #6A5D93;
    grid-column: 3;
    grid-row: 1;
 } 

 .text-background {
     background: #C4C4C4;
     margin: 40px 20px;
     opacity: 0.75;
     text-align: center;
     font-family: 'Raleway', sans-serif;
 }

 .r1 {
    display: flex;
    background: #0D658A; 
    grid-column: 4;
    grid-row: 1;
 }

 .r1-background {
     background: #0D658A;
     text-decoration: none;
 }

    .v1 {
        align-self: center;
        transform: rotate(90deg);
        margin: 20px;
        padding: 20px;
    }

}