
.grid-container-header {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
}

.Emily {
    grid-area: 0 / 1 / 1;
    background-color: #79BBB5; 
}


.About {
    grid-area: 0 / 1 / 2;
}

.item3 {
    grid-area: 0 / 2 / 3;
}

.Contact {
    grid-area: 0 / 3 / 4;
}

.grid-container-main {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
}

.Watson {
    grid-area: 0 / 0 / 1;
}

.Pink {
   grid-area: 0 / 1 / 2;
}

.Purple {
    grid-area: 0 / 2 / 3;
}

.Turquoise {
    grid-area: 0 / 3 / 4;
}

.grid-container-footer {
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
}

.placeholder1 {
    grid-area: 0 / 0 / 1 / 2;

}

.skills {
    grid-area: 0 / 2 / 1 / 3;
}

.placeholder2 {
    grid-area: 0/ 3 / 1 / 4;
}
